* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 .todo-item {
  display: flex;
  justify-content: center;

  padding: 20px;
  border: 1px solid #eee;
}
.todo-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo-item span { flex-grow: 1; margin: 0 100px; }
button.delete-btn { color: red; cursor: pointer; }

#top_block {
  background-color: black;
}

#top_text {
  color: gray;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 50px;
}

.input-group {
  display: flex;
  justify-content: center;
}

#todo-input {
   width: 500px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px, rgb(229, 226, 226);
}

#add-btn {
  margin-left: 30px;
  color: rgb(255,255,255);
  background-color: rgb(39, 126, 207);
  border-color: rgb(39, 126, 207);
  border-radius: 5px;
  padding: 10px;
  padding-left:15px ;
  padding-right:15px ;
}

#heading {
  font-size: 40px;
  padding-left: 350px;
  padding-bottom: 25px;
  padding-top: 50px;
}

#block {
  padding: 25px;
}

#todo-list {
  max-width: 770px;
  margin: 0 auto;
}