.product-container {
  display: grid;
  /* Автоматические колонки: минимум 300px, максимум 1 часть свободного места */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.image-box img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
