* {
    margin: 0; padding: 0; box-sizing: border-box; 
}

body {
    background-color: #131212;
    color: white;
    font-family: sans-serif;
}


#root {
    display: grid;
    grid-template-columns: 1fr 0.8fr; 
    height: 100vh; 
    overflow: hidden;
}


#way1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.logo {
    width: 80px;
    align-self: start;
}

#way1 p {
    font-size: 38px;
    line-height: 1.5;
    max-width: 700px;
    margin: 20px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#way1 img {
    max-width: 95%;      
    max-height: 60vh;    
    object-fit: contain; 
}


#way2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #526769;
    background-color: #19252e;
}


.auth-box {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    max-width: 550px; 
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px; 
}


input {
    background: #19252e;
    border: 1px solid #526769;
    color: white;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
}

input::placeholder {
    font-size: 16px;
}

.btn-login {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-radius: 999px;
}

.forgot-password {
    width: 100%;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.832);
    background-color: #19252e;
    border-color: #19252e;
    border-radius: 999px;
    padding: 15px;
    border: none !important;           
    box-shadow: none !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;

}

.btn-facebook {
    width: 100%;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.832);
    background-color: #19252e;
    border-radius: 999px;
    border-color: #526769;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-create {
    width: 100%;
    box-sizing: border-box;
    background-color: #19252e;
    border-radius: 999px;
    border-color: #0095f6;
    color: #0095f6;

}

button.forgot-password:hover,button.btn-facebook:hover,button.btn-create:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

button.btn-login:hover {
    cursor: pointer;
    background-color: rgb(26, 159, 255);
}

.title {
    margin-bottom: 10px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.btn-login, .btn-facebook, .btn-create {
    width: 100%;
    padding: 14px; 
    font-size: 14px; 
    font-weight: 600; 
    cursor: pointer;
    transition: background 0.2s ease; 
}

.btn-login {
    background-color: #0095f6;
    color: white;
    border: none;
    margin-top: 10px;
}


.btn-facebook {
    background: transparent;
    border: 1px solid #526769;
    color: white;
    margin-top: 35px; 
}


.btn-create {
    background: transparent;
    border: 1px solid #0095f6;
    color: #0095f6;
}

.meta-footer {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    gap: 5px;
    margin-top: 12px;
}
.meta-footer img {
    width: 20px; 
}

.btn-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.fb-icon {
    width: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}